body{
	
}

.trans{
  background-color:#0D0F0D;
  position:absolute;
  top:0;
  left:15px;
  width: 100px; 
  height: 100px; 
  border-radius: 150px;
  z-index: 2222;
  opacity: .5;
}
.fadeInUp{
	width: 200px;
	height: 10px;
	opacity: 0;
	transition: all .75s ease;
}
.fadeInUpLater{
	width: 200px;
	height: 200px;
	opacity: 1;
}
#contenedorCompra{
	width: 998px;
	margin: 20px auto;
	overflow: hidden;
}

#ladoIzquierdo{
	width: 20%;
	float: left;
	/*border: 30px solid transparent;
	-moz-border-image:url("img/linea.jpg") 100 stretch;
	-webkit-border-image:url("img/linea.jpg") 100 stretch;
	-o-border-image:url("img/linea.jpg") 100 stretch;
	border-image:url("img/linea.jpg") 100 stretch;
	border-left: none;
	border-top: none;
	border-bottom: none;*/
}
#separador{
	width: 2%;
	height: 500px;
	float: left;
}
#separador img{
	width: 100%;
	height: 100%;
}
#ladoDerecho{
	width: 73%;
	float: left;
	text-align: justify;
}
.iconAgregar:before{
	font-family: "FontAwesome", sans-serif;
  	content: url(img/products.png);
}
/*.iconAgregar:hover:before{
	font-family: "FontAwesome", sans-serif;
  	content: url(img/fono.png);
}
#opc_agregar:hover{
	background-color: blue;
	color: white;
}
*/
.imagen_disponible{
	width: 100px;
	height: 100px;
	border-radius: 150px;
	/*background-color: red;*/
}
.img_dpnb{
	border-radius:150px;
	width: 80%;
	height: 80%;
}
.img_dpnb1{
	width: 30%;
	height: 30%;
}  
.center{
	text-align: center;
}
.img_thumb{
    float: left;
    border: 1px solid black;
    /*padding: 10px 10px 10px 10px;*/
    /*padding-bottom: 10px;*/
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 35px;
    background-color: white;
}
/*  capa hover con la descripcion de cada miniatura */
.img_desc{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    /*background-color: white;*/
    /*opacity: 0.9;*/
    padding: 5px 5px 5px 5px;
    display: none;
}
.img_thumb img{
    z-index: -1;
}
#contenedorPrueba{
	/*width: 700px !important;
	height: 300px;
	margin: 20px auto;
	overflow-y: auto;
	/*position: relative;*/
	
}s
.pt-200{
	padding-top: 200px;
}
.circulo{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: skyblue;
	opacity: 0;
	transition: width .75s , height .75s linear;
}
.circulo2{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	opacity: 1;
	background-color: skyblue;
}
.cle{
	display: none;
}

.circle {
	background: #bf1e2c;
	width: 300px;
	height: 300px;
	margin: auto;
	border-radius: 100%;
  	overflow: hidden;
	/*-webkit-animation:grow 2s ease;*/
	-webkit-animation-name: grow; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: 2; /* Safari 4.0 - 8.0 */
	-webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
	animation-name: grow;
	animation-duration: 2s;
	animation-iteration-count: 2;
	animation-direction: alternate;  

}
.fl{
	float: left;
}

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
    width: 300px;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
    width: 300px;
}

@-webkit-keyframes grow {
	0% {
		-webkit-transform: scale( 0 );
		-moz-transform: scale( 0 );
		-o-transform: scale( 0 );
		-ms-transform: scale( 0 );
		transform: scale( 0 );
		opacity: 0;
	}
  
	100% {
		-webkit-transform: scale( 1 );
		-moz-transform: scale( 1 );-
		o-transform: scale( 1 );
		-ms-transform: scale( 1 );
		transform: scale( 1 );

	}
}